<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>CFBundleDisplayName</key>
	<string>CodeHub</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-Small-50@2x</string>
		<string>Icon-Small-50</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small</string>
		<string>Icon</string>
		<string>Icon-72@2x</string>
		<string>Icon-72</string>
		<string>Icon@2x</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.dillonbuchanan.codehub</string>
</dict>
</plist>
