[submodule "lib/CodeFramework"]
	path = lib/CodeFramework
	url = https://thedillonb@github.com/thedillonb/CodeFramework.git
[submodule "lib/GitHubSharp"]
	path = lib/GitHubSharp
	url = https://thedillonb@github.com/thedillonb/GitHubSharp.git
