<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="5.0.0" targetFramework="xamarinios10" />
  <package id="akavache.core" version="5.0.0" targetFramework="xamarinios10" />
  <package id="akavache.sqlite3" version="5.0.0" targetFramework="xamarinios10" />
  <package id="GitHubClient" version="1.0.15" targetFramework="xamarinios10" />
  <package id="Humanizer.Core" version="2.2.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="4.4.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinios10" />
  <package id="Octokit" version="0.29.0" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="xamarinios10" />
  <package id="reactiveui" version="7.4.0" targetFramework="xamarinios10" />
  <package id="reactiveui-core" version="7.4.0" targetFramework="xamarinios10" />
  <package id="Rx-Core" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Main" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="SQLitePCL.raw_basic" version="0.8.6" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.9" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.9" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.ios_unified.static" version="1.1.9" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.internal.ios_unified" version="1.1.9" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="3.1.3" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinios10" />
</packages>