@model SourceBrowserModel
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=0.5">
<link rel="stylesheet" href="WebResources/styles/@(Model.Theme).css" />
<script src="WebResources/highlight.pack.js"></script>
<script>
window.onload = function() {
	hljs.configure({
	  tabReplace: '    '
	});

	hljs.initHighlighting();
	document.getElementById("code").style.display = 'block';
};
</script>
<style>
html { height: 100%; width: 100%; }
body { margin: 0; min-height: 100%; min-width: 100%; }
body > pre { margin: 0em; min-width: 100%; min-height: 100%; }
.hljs { display: inline-block !important; min-width: 100%; min-height: 100%; box-sizing: border-box; padding: 2em !important; }
</style>
</head>
<body>
<pre>
<code id="code" style="display: none;">@Model.Content</code>
</pre>
</body>
</html> 