<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>64cbd285ce671bdff5629ee3d00e79e4ae834f39</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>CodeHub</string>
	<key>CFBundleIdentifier</key>
	<string>com.dillonbuchanan.codehub</string>
	<key>CFBundleShortVersionString</key>
	<string>2.18.1</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.dillonbuchanan.codehub</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>codehub</string>
			</array>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.18.1.2</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>octicons.ttf</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleName</key>
	<string>CodeHub</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photos can be uploaded to comments created within the app.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar is never used within this app.</string>
</dict>
</plist>
