<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BTProgressHUD" version="1.0.0" targetFramework="xamarinios10" />
  <package id="GitHubClient" version="1.0.8.0" targetFramework="xamarinios10" />
  <package id="Humanizer" version="1.37.7" targetFramework="xamarinios10" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="xamarinios10" />
  <package id="MonoTouch.SlideoutNavigation" version="1.0.1" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.Plugin.Messenger" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="xamarinios10" />
</packages>