<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BTProgressHUD" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Flurry.Analytics" version="1.2.1" targetFramework="xamarinios10" />
  <package id="Flurry.Analytics.Portable" version="1.2.0" targetFramework="xamarinios10" />
  <package id="GitHubClient" version="1.0.5.0" targetFramework="xamarinios10" />
  <package id="Humanizer" version="1.37.7" targetFramework="xamarinios10" />
  <package id="MonoTouch.SlideoutNavigation" version="0.1.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.Plugin.Messenger" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="xamarinios10" />
</packages>