<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache.core" version="4.0.0" targetFramework="MonoTouch10" />
  <package id="akavache.sqlite3" version="4.0.0" targetFramework="MonoTouch10" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="MonoTouch10" />
  <package id="reactiveui" version="6.0.3" targetFramework="MonoTouch10" />
  <package id="reactiveui-core" version="6.0.3" targetFramework="MonoTouch10" />
  <package id="Rx-Core" version="2.2.5" targetFramework="MonoTouch10" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="MonoTouch10" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="MonoTouch10" />
  <package id="Rx-Main" version="2.2.5" targetFramework="MonoTouch10" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="MonoTouch10" />
  <package id="Splat" version="1.3.3" targetFramework="MonoTouch10" />
  <package id="SQLitePCL.raw_basic" version="0.5.0" targetFramework="MonoTouch10" />
</packages>